apiVersion: apps/v1
kind: Deployment
metadata:
  name: ratelimit-service
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ratelimit-service
  template:
    metadata:
      labels:
        app: ratelimit-service
    spec:
      containers:
        - name: ratelimit
          image: envoyproxy/ratelimit:99d85510
          command: ["/bin/ratelimit"]
          env:
            - name: REDIS_TLS
              value: "true"
            - name: REDIS_TLS_SKIP_HOSTNAME_VERIFICATION
              value: "true"
            - name: REDIS_AUTH
              valueFrom:
                secretKeyRef:
                  name: ratelimit-redis-creds
                  key: REDIS_PASSWORD
            - name: LOG_LEVEL
              value: debug
            - name: REDIS_SOCKET_TYPE
              value: tcp
            - name: REDIS_URL
              value: envoy-ratelimit-redis-pr7hih.serverless.use1.cache.amazonaws.com:6379
            - name: USE_STATSD
              value: "false"
            - name: RUNTIME_ROOT
              value: /data
            - name: RUNTIME_SUBDIRECTORY
              value: ratelimit
          ports:
            - containerPort: 8081
              name: grpc
            - containerPort: 8080
              name: http
          resources:
            requests:
              cpu: 250m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 512Mi
          volumeMounts:
            - name: config-volume
              mountPath: /data/ratelimit/config
              subPath: config.yaml
      volumes:
        - name: config-volume
          configMap:
            name: ratelimit-config
---
apiVersion: v1
kind: Service
metadata:
  name: ratelimit-service
  namespace: default
spec:
  selector:
    app: ratelimit-service
  ports:
    - port: 8081
      targetPort: 8081
      name: grpc
    - port: 8080
      targetPort: 8080
      name: http-admin
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: ratelimit-config
  namespace: default
data:
  config.yaml: |
    domain: kafka-consumer
    descriptors:
      - key: tenant_id
        rate_limit:
          unit: second
          requests_per_unit: 40
      - key: user_id
        rate_limit:
          unit: second
          requests_per_unit: 40
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: ratelimit-hpa
  namespace: default
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: ratelimit-service
  minReplicas: 2
  maxReplicas: 10
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
